/design-doc.aux
/design-doc.bbl
/design-doc.blg
/design-doc.fdb_latexmk
/design-doc.fls
/design-doc.log
/design-doc.synctex.gz
/homework_template.fdb_latexmk
/homework_template.fls
/homework_template.log
/homework_template.synctex.gz
/homework_template.pdf
/out/